@import "nullstyle.css";

@font-face {
	font-family: 'ArbutusSlab';
	src: url('../fonts/ArbutusSlabregular.eot');
	src: local('☺'), url('../fonts/ArbutusSlabregular.woff') format('woff'), url('../fonts/ArbutusSlabregular.ttf') format('truetype'), url('../fonts/ArbutusSlabregular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: local('☺'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MuseoSlab-500';
	src: url('../fonts/museo-slab-500.eot');
	src: local('☺'), url('../fonts/museo-slab-500.woff') format('woff'), url('../fonts/museo-slab-500.ttf') format('truetype'), url('../fonts/museo-slab-500.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: local('☺'), url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype'), url('../fonts/Raleway-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('☺'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype'), url('../fonts/Raleway-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.eot');
	src: local('☺'), url('../fonts/Raleway-Medium.woff') format('woff'), url('../fonts/Raleway-Medium.ttf') format('truetype'), url('../fonts/Raleway-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoSlab';
	src: url('../fonts/RobotoSlab-Bold.eot');
	src: local('☺'), url('../fonts/RobotoSlab-Bold.woff') format('woff'), url('../fonts/RobotoSlab-Bold.ttf') format('truetype'), url('../fonts/RobotoSlab-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'RobotoSlab';
	src: url('fonts/RobotoSlab-Regular.eot');
	src: local('☺'), url('fonts/RobotoSlab-Regular.woff') format('woff'), url('fonts/RobotoSlab-Regular.ttf') format('truetype'), url('fonts/RobotoSlab-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'Raleway';
	color: #7c7c7c;
}
.title-h2 {
	color: #494949;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	font-family: 'RobotoSlab';
	font-weight: 700;
	margin-bottom: 20px;
} 
.title-h2 span {
	color: #7c7c7c;
	font-size: 18px;
	text-transform: none;
	display: block;
	letter-spacing: 0;
	margin-bottom: 15px;
}
.title-border {
	width: 30px;
	height: 2px;
	background-color: #2eb0ec;
	margin: 0 auto 85px;
}

/*------------------------------------*/

.page-header {
	background-image: url(../img/header-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 40px 0 240px 0 ;
}
.wrap {
	width: 1120px;
	margin: 0 auto;
}
.box-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 265px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);;
	padding-bottom: 32px;
}
.logo {
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	width: 168px;
	height: 51px;
}
nav {
	flex-basis: 61%;
	padding: 20px 0 ;
}
.nav {
	display: flex;
	justify-content: flex-start;
}
.nav-item {
	color: #ffffff;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 37px;
}
.btn-login {
	background-color: rgba(71, 158, 225, 0.8);
	padding: 22px 22px 22px 31px;
	border-radius: 10px;
	margin-right: 10px;
	transition: 0.5s;
}
.btn-login:hover {
	background-color: rgba(71, 158, 225, 1);
}
.header-content {
	max-width: 505px;
	margin-bottom: 95px;
}
h1 {
	color: #fffefe;
	font-size: 40px;
	text-transform: uppercase;
	font-family: 'MuseoSlab-500';
	margin-bottom: 45px;
}
.header-text {
	color: #fefefe;
	font-weight: 500;
	font-size: 26px;
	line-height: 40px;
	margin-bottom: 70px;
}
.btn-app {
	font-size: 20px;
	font-weight: 700;
	color: #3e3e3e;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 8px 11px 0px rgba(54,54,54,0.15);
	border-radius: 10px;
	padding: 30px 35px 30px 80px;
	position: relative;
	transition: 0.5s;
}
.btn-app::before {
	content: "";
	display: block;
	position: absolute;
	background-image: url(../img/btn-google-icon.png);
	background-repeat: no-repeat;
	left: 30px;
	top: calc(50% - 15px);
	width: 30px;
	height: 32px;
}
.btn-app:hover {
	background-color: rgba(255, 255, 255, 1);
}
.btn-learn {
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
	padding: 30px 67px 30px 67px;
	background-color: rgba(72, 148, 206, 0.7);
	border-radius: 10px;
	transition: 0.5s;
}
.btn-learn:hover {
	background-color: rgba(72, 148, 206, 1);
}
.btn-group a + a {
	margin-left: 30px;
}

/*-------------------------------------------------------------------*/

.page-our-services {
	padding: 97px 0 170px 0;
	text-align: center;
}
.our-services-box {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-wrap: wrap;
}
.our-services-item {
	flex-basis: 27%;
}
.dev-service-icon {
	margin-bottom: 45px;
}
.our-services-item h3 {
	color: #494949;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 30px;
}
.our-services-item p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 500;
}

/*------------------------------------------------------------------------*/

.page-features {
	background-image: url(../img/page-features-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 140px 0 187px 0;
}
.page-features-flex {
	display: flex;
	justify-content: flex-end;
}
.page-features-flex>div {
	flex-basis: 50%;
}
.page-features h2 {
	color: #494949;
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 23px;
}
.page-features h2 span {
	opacity: 0.4;
	font-size: 22px;
	display: block;
	margin-bottom: 20px;
}
.page-features p {
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	margin-bottom: 55px;
}
.features-list {
	margin-bottom: 65px;
}
.features-list-item {
	font-size: 14px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 10px;
	position: relative;
	padding-left: 40px;
}
.features-list-item::before {
	content: "";
	display: block;
	background-image: url(../img/features-marker.svg);
	width: 20px;
	height: 20px;
	position: absolute;
	top: calc(50% - 10px);
	left: 0;
}
.btn-read-more {
	color: #ffffff;
	display: block;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	max-width: 155px;
	text-align: center;
	padding: 20px 0 20px 0;
	background-color: #66d4f4;
	box-shadow: 0 10px 16px rgba(102, 212, 244, 0.3);
	border-radius: 25px;
	transition: 0.3s;
}
.btn-read-more:hover {
	transform: scale(1.05); 
}

/*------------------------------------------------------------*/

.page-other-services {
	padding: 55px 0 120px 0;
}
.page-other-services h2 {
	text-align: center;
}
.other-services-box {
	display: grid;
	grid-template-areas: "a b c"
						 "d e f";
	grid-gap: 65px 100px;
}
.grid-item-1 {
	grid-area: a;
}
.grid-item-1::before {
	content: "";
	display: block;
	position: absolute;
	background-image: url(../img/service-icon-1.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 44px;
	top: 0;
	left: 0;
}
.grid-item-2 {
	grid-area: b;
}
.grid-item-2::before {
	content: "";
	display: block;
	position: absolute;
	background-image: url(../img/service-icon-2.png);
	background-repeat: no-repeat;
	width: 41px;
	height: 32px;
	top: 0;
	left: 0;
}
.grid-item-3 {
	grid-area: c;
}
.grid-item-3::before {
	content: "";
	display: block;
	position: absolute;
	background-image: url(../img/service-icon-3.png);
	background-repeat: no-repeat;
	width: 46px;
	height: 33px;
	top: 0;
	left: 0;
}
.grid-item-4 {
	grid-area: d;
}
.grid-item-4::before {
	content: "";
	display: block;
	position: absolute;
	background-image: url(../img/service-icon-4.png);
	background-repeat: no-repeat;
	width: 34px;
	height: 34px;
	top: 0;
	left: 0;
}
.grid-item-5 {
	grid-area: e;
}
.grid-item-5::before {
	content: "";
	display: block;
	position: absolute;
	background-image: url(../img/service-icon-5.png);
	background-repeat: no-repeat;
	width: 45px;
	height: 40px;
	top: 0;
	left: 0;
}
.grid-item-6 {
	grid-area: f;
}
.grid-item-6::before {
	content: "";
	display: block;
	position: absolute;
	background-image: url(../img/service-icon-6.png);
	background-repeat: no-repeat;
	width: 41px;
	height: 43px;
	top: 0;
	left: 0;
}
.other-services-item {
	padding-top: 10px;
	padding-left: 62px;
	position: relative;
}
.other-services-item h3 {
	color: #494949;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 24px;
}
.other-services-item p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 500;
}

/*--------------------------------------------------------------*/

.page-feedbacks {
	text-align: center;
	background-image: url(../img/feedbacks-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0 100px 0;
}
.feedback-wrap {
	max-width: 730px;
}
.feedback-box {
	border-radius: 10px;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.08);
	box-shadow: 0 0 51px rgba(0, 0, 0, 0.08);
	position: relative;
	padding: 85px 0 110px 0;
	margin: 0 auto;
}
.user-icon {
	width: 103px;
	height: 104px;
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translate(-50%);
}
.user-data {
	font-size: 15px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 45px;
}
.user-data span {
	color: #494949;
	font-size: 20px;
	font-weight: 700;
	display: block;
}
.feedback {
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	max-width: 570px;
	margin: 0 auto;
}
.swiper-slide {
	max-width: 730px;
}
.hidden-element {
	background: transparent;
	height: 52px;
}
/*--------------------------------------------------------------*/

.page-resourse {
	padding: 160px 0 150px 0;
}
.resourse-flex {
	display: flex;
	justify-content: space-between;
}
.resourse-content {
	flex-basis: 43%;
}
.resourse-img {
	flex-basis: 51%;
}
.page-resourse h2 {
	color: #494949;
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 23px;
}
.page-resourse h2 span {
	opacity: 0.4;
	font-size: 22px;
	display: block;
	margin-bottom: 20px;
}
.resourse-content-text {
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	margin-bottom: 40px;
}
.scroll-text {
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
	max-height: 92px;
	overflow: auto;
}
.scroll-text::-webkit-scrollbar {
    width: 4px;
}
.scroll-text::-webkit-scrollbar-track-piece{
    background-color: #bababa;
}
.scroll-text::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: #faaf3a;
    border-radius: 10px;
}

/*--------------------------------------------------------------*/

.page-price {
	background-image: url(../img/page-price-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0 150px 0;
	text-align: center;
}
.pricing-plan-box {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.pricing-plan-item {
	padding: 45px 92px 65px 92px;
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, 0.04);
	background-color: #ffffff;
	background-image: url(../img/pricing-plan-item-bg.png);
	background-repeat: no-repeat;
	background-size: contain;
	transition: 0.5s;
}
.pricing-plan-item:hover {
	box-shadow: 0 0 51px rgba(92, 149, 161, 0.33);
	transform: scale(1.05); 
}
.pricing-plan-item img {
	margin-bottom: 60px;
}
.pricing-plan-item h3 {
	color: #494949;
	font-weight: 700;
	font-size: 16px;
}
.price {
	margin-bottom: 45px;
}
.price-text {
	color: #2eb0ec;
	font-size: 80px;
	font-weight: 700;
	position: relative;
}
.price-text::before {
	content: "";
	display: block;
	background-image: url(../img/usd.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 29px;
    left: -17px;
	width: 12px;
	height: 19px;
}
.price-text::after {
	content: "";
	display: block;
	background-image: url(../img/month.png);
	background-repeat: no-repeat;
	position: absolute;
	bottom: 13px;
    right: -46px;
	width: 47px;
	height: 16px;
}
.pricing-plan-item ul {
	margin-bottom: 70px;
}
.price-property {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 500;
	color: #bebebe;
}
.active-property {
	color: #7c7c7c;
}
.btn-sing-up {
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	padding: 20px 43px;
	background-color: #66d4f4;
	border-radius: 25px;
	transition: 0.5s;
}
.btn-sing-up:hover {
	background-color: #29c1f0;
}

/*---------------------------------------------------------*/

.page-subscribe {
	padding: 70px 0 140px 0;
	text-align: center;
}
.subscribe-form {
	margin: 0 auto;
	max-width: 396px;
}
.subscribe-form-item input {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 396px;
	padding: 30px 0 30px 0;
	background-color: #f5fafa;
	border-radius: 38px;
	font-size: 14px;
	font-weight: 700;
	border: 1px solid #f5fafa;
	transition: 0.5s;
}
.subscribe-form-item+.subscribe-form-item {
	margin-top: 25px;
}
.subscribe-form-item input:focus {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.03);
	box-shadow: 0 8px 16px rgba(92, 149, 161, 0.07);
}
.subscribe-form-item input::-webkit-input-placeholder {opacity: 0.35; color: #505050;}
.subscribe-form-item input::-moz-placeholder          {opacity: 0.35; color: #505050;}/* Firefox 19+ */
.subscribe-form-item input:-moz-placeholder           {opacity: 0.35; color: #505050;}/* Firefox 18- */
.subscribe-form-item input:-ms-input-placeholder      {opacity: 0.35; color: #505050;}

.btn-subscribe {
	padding: 31px 134px 31px 134px;
	margin: 86px auto 0;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #66d4f4;
	box-shadow: 0 10px 16px rgba(102, 212, 244, 0.3);
	border-radius: 38px;
	transition: 0.5s;
}
.btn-subscribe:hover {
	transform: scale(1.1);
}

/*---------------------------------------------------------*/

.box-footer {
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	display: flex;
	justify-content: space-around;
	padding: 55px 0 85px 0;
	margin-bottom: 40px;
}
.footer-item-logo {
	flex-basis: 20%;
}
.footer-item-logo p {
	margin: 22px 0 22px 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 28px;
}
.footer-item-logo a {
	margin-right: 20px;
}
.footer-item {
 	flex-basis: 15%;
}
.footer-item h4 {
	color: #494949;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 45px;
}
.nav-footer-item {
	font-size: 14px;
	font-weight: 500;
	line-height: 28px;
	color: #7c7c7c;
}
.copyright-box {
	padding-bottom: 45px;
	display: flex;
	justify-content: flex-start;
	font-size: 14px;
	font-weight: 500;
	line-height: 28px;
}
.copyright {
	padding: 0 15px 0 30px;
	border-right: 1px solid #7c7c7c;
}
.copyright-box p {
	padding: 0 15px 0 15px;
}
.author {
	border-left: 1px solid #7c7c7c;
}
.author span {
	font-weight: 700;
}